/data
/flask_mafft_fasttree/__pycache__
/flask_mafft_fasttree/instance
/flask_mafft_fasttree/data
/flask_web_api/__pycache__
/flask_web_api/instance
/flask_web_api/data
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
.git
# Coverage reports
htmlcov/
.coverage
.coverage.*
