{% extends 'base.html' %}

{% block header %}
<h1> This is the - MAFFT - FASTTREE - Container </h1>
{% endblock %}

{% block content %}
{{ content['greeting'] }}
<br>
<ul>
{% for file in content['files'] %}

  <li> {{file}}
    <form method="post" action="/multialigner">
      <input type="hidden" name="project_id" id="project_id" value="{{ content['project_id'] }}">
      <input type="hidden" name="filename" id="filename" value="{{file}}">
      <input type="submit" value="Send Request">
    </form>
  </li>

{% endfor %}
</ul>

{% endblock %}
